{% extends 'base.html' %}

{% block body %}
  <div>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="fieldWrapper">
        {{ form.username.errors }}
        <label for="id_username">用户名：</label>
        {{ form.username }}
      </div>
      <div class="fieldWrapper">
        {{ form.password.errors }}
        <label for="id_password">密码：</label>
        {{ form.password }}
      </div>
      <input type="hidden" name="next" value="{{ next }}"/>
      <p><input type="submit" value="登录" /></p>
    </form>
  </div>
{% endblock %}